:root {
	--primary-color: #ffb757;
	--primary-hover-color: #e47e92;
	--secondary-color: #662d91;
	--dark-color: #1b0423;
	--light-color: #fff4e6;
	--bg-gradient: linear-gradient(50deg, rgba(102,45,145,1) 0%, rgba(184,29,255,1) 33%, rgba(255,183,87,1) 100%); 
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Open+Sans:ital,wght@0,400;0,600;1,800&display=swap');

html,
body {
	padding: 0;
	margin: 0;
}
body {
	background: linear-gradient(50deg, #662d91, #ffb757, #662d91, #ffb757);
	background-size: 800% 800%;

	-webkit-animation: animeGradient 30s ease infinite;
	animation: animeGradient 30s ease infinite;
}

@-webkit-keyframes animeGradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 51%}
	100%{background-position:0% 50%}
}
@keyframes animeGradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 51%}
	100%{background-position:0% 50%}
}

button, input[type="submit"]{
	font-weight: bold;
	background-color: var(--primary-color);
	color: var(--dark-color);
	border: none;
	height: 30px;
	width: 100px;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px;
	transition: all ease 0.5s;
}
button:hover, input[type="submit"]:hover{
	box-shadow: rgba(255, 183, 87, 0.5) 4px 4px 0px;
}

/*/////////container/////////*/
.container{
	width: 1000px;
	margin: auto;
}
@media screen and (max-width:1000px) {
	.container {
		width: 680px;
	}
}
@media screen and (max-width:780px) {
	.container {
		width: 100%;
		padding: 0 20px;
	}
}
main .container{
	background-color: var(--dark-color);
	color: var(--light-color);
	padding: 50px;
	margin-bottom: 25px;
	margin-top: 25px;
	transform: skew(15deg);
}
main .container p, main .container h1, main .container h2, main .container section, main .container th, main .container td, main .container .example-code div, main .container .button-list, main .container .description, .display-example, main .container label, main .container input, .liens-submitted li{
	transform: skew(-15deg);
}
main .container .splide-legend p{
	transform: skew(0deg);
}
@media screen and (max-width:780px) {
	main .container{
		transform: skew(0deg);
	}
	main .container p, main .container h1, main .container h2, main .container section, main .container th, main .container td, main .container .example-code div, main .container .button-list, main .container .description, .display-example, main .container label, main .container input, .liens-submitted li{
		transform: skew(0deg);
	}
}
/*/////////Header desktop//////////*/
header{
	position: sticky;
	top: -200px;
	z-index: 10;
}
div.banner {
	background-image: url("images/Pierre/logo-02.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 200px;
	background-color: #1b0423;
}
.banner p{
	display: none;
}

.logo-item {
	background-image: url("images/Pierre/logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 100px;
	height: 65px;
	margin: 10px 30% 10px 0;
	cursor: pointer;
	position: absolute;
	left: 40px;
}

nav {
	width: 100%;
	background-color: var(--dark-color);
	position: relative;
	border-bottom: solid 2px var(--light-color);
}

nav a {
	color: var(--light-color);
	text-decoration: none;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav>ul {
	display: flex;
	align-items: stretch;
	gap: 50px;
	margin: 0;
	justify-content: center;
	min-height: 85px;
}

.item {
	position: relative;
	font-weight: bold;
	display: flex;
	align-items: center;
	transform: skewx(45deg);
	width: 130px;
}
.item a{
	transform: skewx(-45deg);
	height: 100%;
	width: 100%;
	padding-top: 25%;
	text-align: center;
}

nav>ul>li:hover:not(.logo-item){
	background: var(--primary-color);
}
.item:hover a:not(.dropdown-menu a) {
	color: var(--dark-color);
}

.item:hover .dropdown-menu,
.item:focus .dropdown-menu {
	max-height: 300px ;
	transition: max-height 0.5s ;
}

.dropdown-menu {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: absolute;
	max-height: 0px;
	top: 85px;
	left: 0px;
	background-color: var(--primary-color);
	width: 200px;
}

.dropdown-menu>li>a {
	transform: skewx(-45deg);
	display: block;
	color: var(--dark-color);
	padding: 10px 20px;
}

.dropdown-menu>li:hover {
	background-color: var(--dark-color);
}

.dropdown-menu>li:hover a {
	color: var(--light-color);
}

li>a:after {
	content: ' \203A';
}

li>a:only-child:after {
	content: '';
}

.toggle-button{
	display:none;
}

/*/////////Header mobile/////////*/
@media screen and (max-width:768px) {

	header{
		top: -120px;
	}
	div.banner {
		width: 100%;
		height: 120px;
	}

	nav ul{
		flex-direction: column;
		gap:0;
	}

	.logo-item{
		margin: 10px 50px 10px 0;
		position: relative;
	}

	.item{
		display:none;
		transform: none;
		text-align: center;
		width: 100%;
		margin-bottom: 0;
	}

	.item a{
		transform: none;
		display: block;
		width: 100%;
		padding: 40px 0px;
	}

	.visible{
		display:block;
	}

	.dropdown-menu{
		position:relative;
		top: 0;
		width: 100%;
		transition: max-height 1s ease;
	}
	.dropdown-menu > li > a{
		transform: none;
	}

	.sub-menu{
		text-align:center;
	}

	.sub-menu:hover, .sub-menu:focus, .dropdown-menu.submenu-active {
		max-height:300px;
	}

	.toggle-button {
		display:flex;
		position: absolute;
		flex-direction: column;
		justify-content: space-between;
		width: 30px;
		height: 21px;
		right: 30px;
		top: 35px;
	}

	.toggle-button .bar {
		height: 3px;
		width: 100%;
		background-color: var(--light-color);
		border-radius: 10px;
		transition-property: transform;
		transition-duration: 0.5s;
	}

	.toggle-button:hover span:nth-child(2) {
		transform: translateX(10px);
		transition-property: transform;
		transition-duration: 0.5s;
	}

	.nav-open>.bar:first-child{
		transform: translate(0, 0) rotate(45deg);
	}
	.nav-open>.bar:nth-child(2){
		opacity:0;
	}
	.nav-open>.bar:last-child{
		transform: translate(0, -18px) rotate(-45deg);
	}

}
/*/////////Generics/////////*/
*{
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4,nav a{
	font-family: 'Libre Baskerville', serif;
}
h1{
	font-size: 3em;
	width: max-content;
	margin: 0;
	padding-top: 20px;
}
h1:after{
	content: '';
	display: block;
	height: 10px;
	width: 100%;
	margin-top: 10px;
	background: var(--bg-gradient);
}
h2{
	font-size: 2em;
	width: max-content;
}
h2:after{
	content: '';
	display: block;
	height: 4px;
	width: 100%;
	margin-top: 2px;
	background: var(--bg-gradient);
}
a, a:visited{
	color: var(--primary-color);
	text-decoration: none;
}
ul, li{
	list-style: none;
}
table{
	border-collapse: collapse;
}
.hide{
	display: none;
}
@media screen and (max-width:780px) {
	h1{
		font-size: 1.5em;
	}
	h2{
		font-size: 1.1em;
	}
	p, code{
		font-size: 0.8em;
	}
}
/*/////////Home-page/////////*/
.intro .container .div{
	padding: 50px;
	background-color: var(--primary-color);
	border-radius: 50px;
	margin: 50px;
}
/*/////////Slider/////////*/
.splide-Pierre .splide__slide img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	background-position: center;
}
section.slider h2{
	padding: 20px 0;
	margin: 0;
}
section.slider h2 + p{
	margin: 0;
}
.splide-Lola{
	display: none;
}
.splide-legend{
	text-align: center;
	color: var(--light-color);
	font-size: 2em;
	font-weight: bold;
}
.splide__arrows button{
	background-color: var(--primary-color);
	border-radius: 0px;
	box-shadow: rgba(255, 185, 91, 0.3) 4px 4px 0px;
}
.splide-legend p:nth-child(2){
	font-size: 1rem;
	margin-bottom: 30px;
}
.splide-Pierre{
	margin: 20px auto;
}
/*/////////animation/////////*/
.display-example{
	width: 100%;
	height: 300px;
	order: 3;
	position: relative;
	border-radius: 5px;
	border: solid 1px black;
}
.animated-example{
	background-image: url("images/Lola/canardrond.png");
	width: 100px;
	height: 100px;
	background-size: cover;
	position: absolute;
	bottom: 0px;
}
.animation-example-container .button-list{
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.animation-example-container .description{
	overflow-y: scroll;
	height: 300px;
	flex: 8 0 auto;
}
.box {
	width: 50px;
	height: 50px;
	background-color: black;
}

.display-example .animated-example.duckBounce{
	-webkit-animation: bounce 0.5s ease-out infinite alternate ;
	animation: bounce 0.5s ease-out infinite alternate ;
	transform-origin: bottom;
}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: scaleY(0.85);
		transform: scaleY(0.85)
	}
	10% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
	}
}
@keyframes bounce {
	0% {
		-webkit-transform: scaleY(0.80);
		transform: scaleY(0.80)
	}
	10% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(-150px);
		transform: translateY(-150px);
	}
}

.display-example .animated-example.duckJump{
	animation:roll 3s linear infinite;
}

@keyframes roll{
	0%{
		transform:rotate(0);
		left: 0%;
	}
	50%{
		left: calc(100% - 100px);
		transform:rotate(720deg);
	}
	100%{
		transform:rotate(0);
		left: 0%;
	}
}

.display-example .animated-example.duckFloat{
	animation:rollFloat 2s linear, float 2s ease 2s infinite alternate;
}

@keyframes rollFloat{
	0%{
		transform:rotate(-360deg);
		left: 0%;
	}
	70%{
		transform:rotate(0);
		left: calc(50% - 50px);
		bottom: 0px;
	}
	100%{
		left: calc(50% - 50px);
		bottom:100px;
	}
}
@keyframes float{
	0%{
		left: calc(50% - 50px);
		bottom: 100px;
	}
	100%{
		left: calc(50% - 50px);
		bottom: 130px;
	}
}
.display-example .animated-example.duckAppear {
	animation: appear 0.5s linear infinite both alternate;
}

@keyframes appear {
	0% {
		left: calc(50% - 50px);
		bottom: calc(50% - 50px);
		filter: hue-rotate(0deg);
		transform: translate(0);
	}
	10% {
		transform: translate(-3px, -3px);
	}
	20% {
		transform: translate(3px, -3px);
	}
	30% {
		transform: translate(-3px, 3px);
	}
	40% {
		transform: translate(3px, 3px);
	}
	50% {
		transform: translate(-3px, -3px);
	}
	60% {
		transform: translate(3px, -3px);
	}
	70% {
		transform: translate(-3px, 3px);
	}
	80% {
		transform: translate(-3px, -3px);
	}
	90% {
		transform: translate(3px, -3px);
	}
	100% {
		left: calc(50% - 50px);
		bottom: calc(50% - 50px);
		filter: hue-rotate(360deg);
		transform: translate(0);
	}
}

@media screen and (min-width:780px) {
	.animation-example-container{
		display: flex;
		gap: 10px;
	}
	.animation-example-container .button-list button{
		height: 50px;
	}
}
@media screen and (max-width:1000px) {
	.animation-example-container{
		flex-wrap: wrap;
	}
	.animation-example-container .button-list{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	.animation-example-container .button-list button{
		height: 70px;
	}
	.animation-example-container .display-example{
		order: 0;
	}
	.animation-example-container .display-example{
		order: 0;
	}
}
/*/////////example/////////*/
.example-code div{
	display: flex;
	align-items: center;
}
.example-code button{
	margin-bottom: 5px;
	margin-top: 5px;
	margin-right: 15px;
	order: -1;
}
.bg-example{
	height: 100%;
	width: 100%;
}
.transform-example{
	background-image: url("images/Lola/canardrond.png");
	height: 100px;
	width: 100px;
	background-size: cover;
	position: absolute;
	left: calc(50% - 50px);
	top: calc(50% - 50px);
}
@media screen and (max-width:1280px) {

}
/*/////////liens/////////*/
.liens-submitted li{
	list-style-image: url('images/Pierre/duck-list.png');
	margin-bottom: 10px;
}
form{
	display: flex;
	flex-direction: column;
	gap: 20px;
}
form input[type="text"]{
	height: 40px;
}
/*/////////footer/////////*/
footer{
	background-color: var(--dark-color);
	color: var(--light-color);
	padding-top: 20px;
}
footer ul{
	display: flex;
	align-items: center;
	padding: 0;
}
footer ul li{
	transform: skew(45deg);
	background-color: var(--primary-color);
	margin: 5px;
}
footer ul li{
	text-align: center;
	transition: all ease 0.5s;
}
footer ul li:hover{
	background-color: var(--light-color);
}
footer div:nth-child(3){
	text-align: center;
}
footer div:nth-child(3):before{
	content: "Changer de style ?";
}
footer a, footer a:visited{
	text-decoration: none;
	color: var(--dark-color);
	display: block;
	padding: 5px;
	width: 100px;
	transform: skew(-45deg);
	transition: all ease 0.5s;
}
footer .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
footer .container ul, footer .container li{
	text-decoration: none;
	list-style: none;
}
footer .logo-footer{
	background-image: url("images/Pierre/logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 100px;
	height: 65px;
	margin: 10px 30% 10px 0;
	cursor: pointer;
}
footer .img-footer, footer div:nth-child(2){
	display: none;
}
footer button:after{
	content: 'Jason ?';
}
@media screen and (max-width:780px) {
	footer .container{
		flex-direction: column;
	}
	#call-Jason{
		margin-bottom: 10px;
	}
}

.jason{
	background-image: url('images/Lola/jason.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 230px;
	width: 230px;
	position: fixed;
	right: -194px;
	top: 100px;
	transform: rotate(45deg);
	transition: all .5s ease;
}