/*Lola Albrecht*/

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
:root {
	--primary-color: #81B29A;
	--primary-hover-color: #6b9481;
	--primary-color-lighter: #9BC9AF;
	--secondary-color: #F2CC8F;
	--tertiary-color:#676a7e4a;
	--dark-color: #3D405B;
	--dark-color-hover:#676a7e;
}

*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	position:relative;
	font-family: 'Montserrat';
}

body{
		background-image: url('images/Lola/fond-05.jpg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position-y: bottom;
}

p{
	font-size:1.1em;
	line-height: 24px;
}

	p::selection{
		background-color: var(--primary-color);
		color:white;
	}

main {
	width:90%;
	margin:auto;
	position:relative;
}

/*Header desktop*/
div.banner {
	display:none; /*visible uniquement sur la page d'accueil, voir : js/Lola/persoLola.js*/
	background-image: url("images/Lola/bannière-02.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative; 
	top: 65px;
	height: calc(100vh - 65px);
}

.logo-item {
	background-image: url("images/Lola/logo_quacss_light.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 150px;
	height: 65px;
	margin-right: auto;
	cursor: pointer;
}

div.banner p{
	position:absolute;
	top:30%;
	left:40px;
	font-size:3em;
	font-weight: bold;
	font-family:'Amatic SC';
    line-height: 55px;
	text-transform: uppercase;
	max-width:350px;
	color:var(--dark-color);
}

	div.banner p::after{
		content: url('images/Lola/banner-duck.jpg');
		height:100px;
		width:100px;
		position:absolute;
		display:inline-block;
		top: 200px;
		right: 250px;
	}

nav {
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: var(--dark-color);
	box-shadow:0px 3px 10px var(--dark-color);
    padding-right: 50px;
	z-index:2;
	transition:all .5s ease;
}

	nav a {
		color: white;
		text-decoration: none;
	}

	nav ul {
		list-style-type: none;
	}

	nav>ul {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 30px;
		margin: 0;
	}

.item {
	position: relative;
	font-weight: bold;
}

	.item:hover a:not(.dropdown-menu a) {
		color: var(--primary-color);
	}

	.item:hover .dropdown-menu, .item:active .dropdown-menu, .item:focus .dropdown-menu {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

.dropdown-menu {
	display: none;
	position: absolute;
	top: 16px;
	left: -15px;
	width: 200px;
	padding: 15px 0px 0px 0px;
	background-color: var(--dark-color);
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
}

	.dropdown-menu>li {
		padding: 8px 15px;
		border-radius: 5px;
		transition: background-color .2s ease-in-out;
	}

	.dropdown-menu>li:hover {
		background-color: var(--dark-color-hover);
	}

	li>a:after {
		content: ' \203A';
	}

	li>a:only-child:after {
		content: '';
	}

.toggle-button{
	display:none;
}

/*Page d'accueil, changement de couleur de menu au scroll (voir fichier JS)*/
.nav_home {
	background-color: var(--primary-color-lighter);
	box-shadow: none;
}
	.nav_home .item:hover a:not(.dropdown-menu a){
		color: var(--dark-color);
	}
	.nav_home .dropdown-menu{
		background-color: var(--primary-color-lighter);
		border-left: 2px solid var(--primary-color);
		border-right: 2px solid var(--primary-color);
		border-bottom: 2px solid var(--primary-color);
	}
	.nav_home .dropdown-menu>li:hover{
		background-color: var(--primary-hover-color);
	}
	.nav_home .dropdown-menu>li:hover a{
		color: var(--dark-color);
	}

/*Header mobile*/
@media screen and (max-width:768px) {
	body{
		background-image: url('images/Lola/fond_768px-05.jpg');
	}

	div.banner p{
		left:20px;
		max-width:300px;
		font-size:2em;
	 }	
	 div.banner p::after{
		 right:200px;
		 top:150px;
	 }

	nav ul{
		flex-direction: column;
	}
	.dropdown-menu li:last-child{
		margin-bottom:20px;
	}

	.subtrigger-active {
		max-height:220px !important;
	}

	.dropdown-menu{
		border-right:none !important;
	}

	.submenu-active{
		display:flex;
		gap:25px;
	}

	.item{
		margin-bottom:20px;
		display:none;
	}

	.visible{
		display:block;
		margin-top:40px;
	}
	
	.dropdown-menu{
		position:relative;
		text-align:left;
	}

	.sub-menu{
		text-align:center;
		max-height:20px;
		overflow:hidden;
		transition: max-height .5s ease-in-out;
	}

	.sub-menu:hover, .sub-menu:focus{
		max-height:300px;
	}

	.toggle-button {
		display:flex;
		position: absolute;
		top: 25px;
		right: 30px;
		flex-direction: column;
		justify-content: space-between;
		width: 30px;
		height: 21px;
	}

	.toggle-button .bar {
		height: 3px;
		width: 100%;
		background-color: white;
		border-radius: 10px;
		transition-property: transform;
		transition-duration: 0.5s;
	}

	.toggle-button:hover span:nth-child(2) {
		transform: translateX(10px);
		transition-property: transform;
		transition-duration: 0.5s;
	}

	.nav-open>.bar:first-child{
		transform: translate(0, 0) rotate(45deg);
	}
	.nav-open>.bar:nth-child(2){
		opacity:0;
	}
	.nav-open>.bar:last-child{
		transform: translate(0, -18px) rotate(-45deg);
	}
}

@media screen and (max-width:573px){
	div.banner{
		background-image: url("images/Lola/banner_mobile_573.png");
	}
	div.banner p{
		top:63%;
	}
	
	body{
		background-image: none;
	}
}
  
/*Slider*/
.splide-Pierre{
	display:none;
}

.splide-Lola .splide__slide img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	margin-top:30px;
}

.splide-Lola-legend{
	height: 160px;
	text-align: center;
}
.splide-Lola-legend p:first-child{
	font-weight: bold;
	font-size: 2.1em;
	font-family:'Amatic SC';
	color:var(--primary-color);
}

.splide-Lola .splide__arrow{
	background-color: white;
}
.splide-Lola .splide__arrow svg{
	fill:var(--primary-color);
	width:3.5em;
	height:3.5em;
}

.splide-Lola .splide__pagination__page.is-active{
	background-color: var(--dark-color);
}
.splide-Lola .splide__pagination__page{
	background-color: var(--primary-color);
}

@media screen and (max-width:768px){
	.splide-Lola .splide__slide__container{
		position:relative;
		top:40px;
	}
}
/*Footer*/
footer{
	background-image:url('images/Lola/footer_fond.png');
	background-repeat: no-repeat;
	background-size: cover;
	width:100%;
}

footer .container{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
    justify-content: space-between;
	align-items: flex-end;
    position: relative;
	height:170px;
}

.logo-footer{
	background-image: url('images/Lola/logo_q_quacss.png');
	background-repeat: no-repeat;
	background-size: contain;
	height:80px;
	width:80px;
	margin-left:20px;
}

.img-footer{
	background-image: url('images/Lola/canard_flat.png');
	background-repeat: no-repeat;
	background-size: contain;
	height:93px;
	width:184px;
	margin-right:20px;
	transform: scaleX(-1);
}

footer .container div:nth-child(1){
	width:100%;
}

footer .container div:nth-child(4){
	display: none;
}

footer .container div{
	min-width:184px;
}

footer ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom:30px;
	padding-left:0;
}

footer li{
	list-style-type: none;
	display: inline-block;
}

footer li a{
	color:white;
	text-decoration: none;
	font-weight:bold;
	font-size:1.2em;
}
/*Footer tablette et mobile*/
@media screen and (max-width:768px){
	footer .container{
		justify-content: flex-start;
	}
	.img-footer{
		display:none;
	}
	footer ul{
		margin-bottom:20px;
	}
}
@media screen and (max-width:573px){
	footer .container div{
		min-width:100px;
	}
	footer li{
		padding-left:40px;
		font-size:0.75em;
	}
}

/*Body*/
h1{
	color:var(--primary-color);
	font-size: 3em;
	font-family: 'Open Sans Condensed'; 
	margin-top:150px;
}

h2{
	color:var(--dark-color);
	font-family: 'Open Sans Condensed'; 
	font-size:2em;
}
	h2:before{
		content:'< ';
		color:var(--primary-color);
		height:20px;
		width:20px;
	}
	h2:after{
		content:' >';
		color:var(--secondary-color);
		height:20px;
		width:20px;
	}

h3{
	color:var(--dark-color-hover);
	font-family: 'Open Sans Condensed';
	font-size:1.8em;
}

.home-separation-image{
	background-image: url('images/Lola/traces.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 200px;
	width: 200px;
	position: relative;
	margin:auto;
}

@media screen and (max-width:768px){
	h1, h2{
		text-align: center;
	}
	h1{
		font-size:2em;
	}
}

/*Pages des propriétés CSS*/
.css-image{
	background-image: url('images/Lola/canardcurieux.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 120px;
	width: 120px;
	position: absolute;
	right: 0;
	top:-40px;
}

code{
	font-size:1.2em;
	font-weight:600;
	color:var(--dark-color);
}

/*propriétés css : blocs*/
.css-definition-bloc > p, .css-table-bloc > p, .css-syntaxe-bloc > p, .liens-bloc{
	box-shadow: 5px 5px 20px var(--tertiary-color);
	background-color: white;
    border-radius: 15px;
	padding:30px;
}

.css-syntaxe-bloc > p{
	padding:10px;
}

section:not(.splide), .liens-bloc{
	margin-bottom:80px;
}

/*propriétés css : tableaux*/
table{
	border-collapse: collapse;
	margin-top:60px;
}

.css-table{
	overflow-x: auto;
}

th, td{
	height:auto;
	width:auto;
	padding:15px;
}

th{
	color:white;
	background-color: var(--dark-color);
	border-color: var(--dark-color);
}

tr:nth-child(odd){
	background-color: var(--tertiary-color);
}

/*propriétés css : exemples interractifs*/
.display-example{
	display:flex;
	justify-content: center;
	align-items: center;
	height:250px;
	width:250px;
}

.transform-example{
	background-image:url('images/Lola/canardquille.png');
	background-repeat: no-repeat;
	background-size: contain;
	height:50%;
	width:50%;
	transition: all .5s ease;
}
.transform-example-two{
	background-image:url('images/Lola/canardcourge.png');
}

.example, .animation-example-container{
	background-color: white;
	display:flex;
	flex-direction:row;
	justify-content: flex-start;
	align-items: center;
	gap: 150px;
	margin: 60px auto;
	box-shadow:inset 5px 5px 20px var(--tertiary-color);
	border-radius: 25px;
	padding:20px;
	width:80%;
}

.animated-example{
	background-image: url('images/Lola/canardrond.png');
	background-repeat:no-repeat;
	background-size: contain;
	height:100px;
	width:100px;
	transition: all .5s ease;
}

.animation-example-container{
	gap:60px;
	width:100%;
	min-height:400px;
	justify-content: space-between;
}

.animation-example-container > .display-example{
	width:auto;
	height:auto;
}

.animation-example-container .button-list{
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.animation-example-container .description{
	overflow-y: auto;
	overflow-x:hidden;
	height: 300px;
	min-width:480px;
	padding:25px;
	border-radius: 25px;
}

.bg-example{
	background-image: url('images/Lola/canardsquare.png');
	background-repeat: repeat;
	height:100%;
	width:100%;
	border: 2px solid white;
	border-radius: 20px;
	transition: all .5s ease;
}

.bg-img-example{
	width:95%;
	gap:60px;
}

.example-code{
	display:flex;
	flex-direction:column;
	align-items: flex-end;
}

.example-list div{
	margin-bottom:20px;
	border-radius: 20px;
	padding:10px 15px;
}

code + button, .button-list button{
	background-color: var(--primary-color);
	color:white;
	height:auto;
	max-width:120px;
	position:relative;
	bottom:3px;
	border-radius:5px;
	border:none;
	padding:3px 10px;
	margin-left:10px;
	margin-top:10px;
	font-size: 1em;
	cursor:pointer;
	box-shadow:0px 5px 0px 0px var(--primary-hover-color);
	transition: all .2s ease;
}

code + button:hover, .button-list button:hover{
	background-color: var(--primary-color-lighter);
}
code + button:active, .button-list button:active{
	box-shadow:0px 1px 0px 0px var(--primary-hover-color);
	transform: translate(0px, 5px);
}

button:focus, a:focus{
	outline:none;
}

/*propriétés css : Animations*/
.hide{
	display:none;
}

.box {
	width: 50px;
	height: 50px;
	background-color: black;
}

.display-example .animated-example.duckBounce{
	-webkit-animation: bounce 0.5s ease-out infinite alternate ;
	animation: bounce 0.5s ease-out infinite alternate ;
	transform-origin: bottom;
}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: scaleY(0.85);
		transform: scaleY(0.85)
	}
	10% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
	}
}
@keyframes bounce {
	0% {
		-webkit-transform: scaleY(0.80);
		transform: scaleY(0.80)
	}
	10% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(-150px);
		transform: translateY(-150px);
	}
}

.display-example .animated-example.duckJump{
	animation:roll 3s linear infinite;
}

@keyframes roll{
	0%{
		transform:rotate(0);
		left: 0%;
	}
	50%{
		left: calc(100% - 100px);
		transform:rotate(720deg);
	}
	100%{
		transform:rotate(0);
		left: 0%;
	}
}

.display-example .animated-example.duckFloat{
	position:relative;
	animation:rollFloat 2s linear, float 2s ease 2s infinite alternate;
}

@keyframes rollFloat{
	0%{
		transform:rotate(-360deg);
		left: 0%;
	}
	70%{
		transform:rotate(0);
		left: calc(50% - 50px);
		bottom: 0px;
	}
	100%{
		left: calc(50% - 50px);
		bottom:100px;
	}
}
@keyframes float{
	0%{
		left: calc(50% - 50px);
		bottom: 100px;
	}
	100%{
		left: calc(50% - 50px);
		bottom: 130px;
	}
}
.display-example .animated-example.duckAppear {
	animation: appear 0.5s linear infinite both alternate;
}

@keyframes appear {
	0% {
		left: calc(50% - 50px);
		bottom: calc(50% - 50px);
		filter: hue-rotate(0deg);
		transform: translate(0);
	}
	10% {transform: translate(-3px, -3px);}
	20% {transform: translate(3px, -3px);}
	30% {transform: translate(-3px, 3px);}
	40% {transform: translate(3px, 3px);}
	50% {transform: translate(-3px, -3px);}
	60% {transform: translate(3px, -3px);}
	70% {transform: translate(-3px, 3px);}
	80% {transform: translate(-3px, -3px);}
	90% {transform: translate(3px, -3px);}
	100% {
		left: calc(50% - 50px);
		bottom: calc(50% - 50px);
		filter: hue-rotate(360deg);
		transform: translate(0);
	}
}

/*Pages propriétés css petit écran, tablette et mobile*/
@media screen and (max-width:1024px){
	.transform-example{
		width:60%;
		height:60%;
	}
	.example {
		gap:100px;
		width:100%;
	}
	.animation-example-container .description{
		min-width:250px;
		max-width:350px;
		overflow-x:auto;
	}
}

@media screen and (max-width:768px){
	.animation-example-container {
		flex-direction: column;
		align-items: center;
		gap:160px;
		width:100%;
		padding:10px;
	}
	.animation-example-container .button-list{
		flex-direction: row;
		flex-wrap:wrap;
	}
	.example {
		flex-direction: column;
		align-items: center;
		gap:50px;
		padding:10px;
	}

	.example-list{
		width:100%;
	}

	.css-image{
		height: 90px;
		width: 90px;
		position: relative;
		top: 100px;
		margin: auto;
	}

	code + button{
		margin-top:10px;
	}

	.example-code{
		align-items: flex-start;
	}

	.example-code div{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
}

/*Liens utiles*/
form{
	display:flex;
	flex-direction: column;
	gap:20px
}

label{
	font-weight: bold;
	color:var(--dark-color);
}

input[type=text]{
	max-width: 350px;
	padding:5px;
	box-shadow: inset 3px 3px 10px var(--tertiary-color);
	border: none;
	border-radius: 6px;
}

input[type=submit]{
	color:var(--dark-color);
	background-color: white;
	border:none;
	border-radius:5px;
	padding:5px;
	max-width: 100px;
	margin-top:25px;
	font-size:1em;
	box-shadow:5px 5px 10px var(--tertiary-color), -2px -2px 10px var(--tertiary-color);
	cursor: pointer;
	transition: all .2s ease;
}
	input[type=submit]:hover{
		color:var(--primary-color);
		box-shadow:inset 5px 5px 10px var(--tertiary-color);
	}
	input[type=submit]:active{
		color:white;
		background-color: var(--dark-color);
	}

.liens-image-top{
	background-image: url('images/Lola/gouttes.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 150px;
	width: 150px;
	position: absolute;
	top: -80px;
	right: -30px;
}
.liens-image-bottom{
	height:150px;
	margin:70px auto;
}

.liens-submitted ul li{
	list-style-image: url('images/Lola/duck-list.png');
	margin-bottom: 10px;
}

@media screen and (max-width:768px){
	.liens-image-top{
		height: 100px;
		width: 100px;
		right:0px;
	}
}
/*Interaction Jason. Javascript : js/jason.js*/
.jason{
	background-image: url('images/Lola/jason.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 230px;
	width: 230px;
	position: fixed;
	right: -194px;
	top:140px;
	transform:rotate(45deg);
	z-index:2;
	transition: all .5s ease;
}

#call-Jason{
	position: absolute;
	right: 10px;
	bottom: 180px;
	background-color: white;
	height:50px;
	width:50px;
	border-radius:50%;
	border:none;
	padding:7px;
	margin-left:10px;
	box-shadow:2px 5px 10px var(--tertiary-color);
	cursor:pointer;
	transition: all .5s ease;
}

	#call-Jason:before{
		content:url('images/Lola/icon-duck.png');
	}
	#call-Jason:after{
		content: 'Jason';
		color:var(--dark-color);
		position: relative;
		top: 10px;
		font-weight: bold;
		font-family: 'Montserrat';
	}
	#call-Jason:hover{
		box-shadow:inset -5px -5px 10px var(--tertiary-color);
	}
	#call-Jason:active{
		background-color: var(--dark-color-hover);
	}