/*Print*/

/*Layout principal*/
body{
	font-family:sans-serif;
}

html, body {
	padding: 0;
	margin: 0;
	position:relative;
}

main {
	width:80%;
	margin:auto;
}

section{
	margin-bottom:50px;
}

h1{
	text-align:center;
	font-size: 2em;
}

h2,h3{
	text-decoration: underline;
}

p{
	font-size:1em;
}


button{
	display:none;
}

/*Header et footer*/
header, footer{
	display:none;
}

/*Accueil*/
.home-separation-image{
	height:0px;
}

.splide{
	display:none;
}

/*Propriétés CSS*/
table{
	border-collapse: collapse;
	margin-top:30px;
}

.css-table th{
	background-color: black;
	color:white;
}

.css-table table tbody tr , .css-table table tbody tr td{
	border: 1px solid black;
	padding:7px;
}

code{
	font-size:1.2em;
}

.example, .animation-example-container, .example-list, .example-code {
	display:inline-block;
	margin:auto;
	width:auto;
}

.display-example, .animated-example{
	display:none;
}

/*Animation*/
.code0, .button-list{
	display: none;
}

.hide{
	display:inline-block;
}

/*Liens utiles*/
.liens-bloc{
	display:none;
}
