<li>
	<a href="http://www.google.fr">Google : http://www.google.fr</a>
</li><li><a href="http://gabrielbraun.free.fr/2017/TechWeb/index.php?rubrique=Accueil&chapitre=01_Accueil&id=01&page=index"><b>top</b> : http://gabrielbraun.free.fr/2017/TechWeb/index.php?rubrique=Accueil&chapitre=01_Accueil&id=01&page=index</a></li><li><a href="https://mastercaweb.u-strasbg.fr/"><b>le master caweb</b> : https://mastercaweb.u-strasbg.fr/</a></li><li><a href="http://www.w3schools.com"><b></b> : http://www.w3schools.com</a></li><li><a href="https://pierre-baladi.fr/"><b>Super petit site</b> : https://pierre-baladi.fr/</a></li><li><a href="http://lola-albrecht.com/"><b>Site g&eacute;nial</b> : http://lola-albrecht.com/</a></li>